streamlit
pdfplumber
python-docx
pandas
requests
pypdfium2
winrt-runtime
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
winrt-Windows.Globalization
winrt-Windows.Graphics.Imaging
winrt-Windows.Media.Ocr
winrt-Windows.Storage
winrt-Windows.Storage.Streams
